.warp{
    width: 100%;
    height: auto;
}
.header{
    width: 1180px;
    height: 88px;
    background: #ffffff ;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.header>img{
    width: 222px;
    height: 70px;
}
.header>ul{
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header>ul>li>a{
    font: 13px/30px Microsoft Yahei;
    color: #616161;
    padding-left: 22px;
    padding-right: 22px;
    display: inline-block;
    height: 30px;
}




.footer{
    width: 100%;
    height: 300px;
    background: #ffffff;
    border-bottom: 1px solid #dddddd
}
.footer>.content{
    width: 1180px;
    height: 100%;
    /* background: dodgerblue; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.left{
    width: 800px;
    /* height: 100px; */
    /* background: firebrick; */
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    align-self: flex-start;
    margin-top: 85px;
}
.left>ul{
    width: 100px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.left>ul>li{
    font-size: 14px;
    margin-top: 10px;
    color: #66CC99;
    font-weight: bold;
    
}
.left>ul>li>a{
    font-weight: 400; 
}
/* .left>ul:nth-child(2){
    margin-bottom: 28px;
}
.left>ul:nth-child(3){
    margin-bottom: 58px;
}
.left>ul:nth-child(4){
    margin-bottom: 30px;
} */
.right{
    width: 300px;
    height: 150px;
    background: forestgreen;
}


.copyright{
    width: 100%;
    min-width: 1180px;
    height: 60px;
    background: #ffffff;

    text-align: center;
    line-height: 60px;
    color: #666666
}